@font-face {
  font-family: "FiraSansCondensedSemiBold";
  src: url("../fonts/FiraSansCondensedSemiBold.ttf") format("truetype");
}

/* Stili generali per il tema chiaro (predefinito) */
body {
  background-color: #f4f4f9;
  color: #333;
  font-family: "FiraSansCondensedSemiBold", Arial;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.periodic-table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
}

.periodic-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.non-metal {
  background-color: lightpink;
}

.non-metal:hover {
  background-color: rgb(207, 144, 154);
}

.metal {
  background-color: rgb(172, 248, 172);
}

.metal:hover {
  background-color: rgb(132, 192, 132);
}

.noble-gas {
  background-color: #ffcc99;
}

.noble-gas:hover {
  background-color: #c09a75;
}

.metalloid {
  background-color: lightgrey;
}

.metalloid:hover {
  background-color: rgb(160, 158, 158);
}

.artificial {
  background-color: #8fbcd4;
}

.artificial:hover {
  background-color: #7295a8;
}

.special {
  background-color: white;
}

.periodic-table td[colspan="2"],
td[colspan="3"],
td[colspan="4"],
td[colspan="5"],
td[colspan="8"],
td[colspan="18"] {
  border: none; /* Rimuove il bordo per i td della legenda */
}

/* Regola generale per la transizione */
.periodic-table td {
  transition: opacity 0.5s ease, transform 0.3s ease; /* Aggiunto effetto fluidità */
}

/* Classe per rendere gli elementi trasparenti */
.faded {
  pointer-events: none;
  opacity: 0.2; /* Riduce l'opacità */
}

button.theme-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "FiraSansCondensedSemiBold", Arial;
  color: #f4f4f9;
  background-color: #1c1c1c;
  border-radius: 5px;
}

.search-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center; /* Allinea verticalmente il bottone con l'input */
}
  

#search-input {
  height: 40px;
  margin-right: 5px; /* Spazio tra l'input e il bottone */
  padding: 0 10px;
  font-size: 16px;
  width: 19.4rem;
  background-color: #1c1c1c;
  color: #f4f4f9;
  border: none;
  border-radius: 5px;
  font-family: "FiraSansCondensedSemiBold", Arial;
}

#search-button {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 5px;
}

#search-input::placeholder {
  color: #ddd;
}

.legend.artificial,
.legend.non-metal,
.legend.metal,
.legend.noble-gas,
.legend.metalloid {
  background-color: #f4f4f9 !important;
}

/* Stile per il tema scuro */
body.dark-theme {
  background-color: #1c1c1c;
  color: #f4f4f9;
}

.dark-theme h1 {
  color: #f4f4f9;
}

.dark-theme .periodic-table td {
  border: 1px solid #444;
  color: #1c1c1c;
}

.dark-theme #search-input {
  background-color: #f4f4f9;
  color: #1c1c1c;
}

.dark-theme #search-input::placeholder {
  color: #4b4b4b;
}

.dark-theme .non-metal {
  background-color: #ff7675;
}

.non-metal:hover {
  background-color: #ff7575ce;
}

.dark-theme .noble-gas {
  background-color: #55efc4;
}

.dark-theme .noble-gas:hover {
  background-color: #55efc3b4;
}

.dark-theme .metal {
  background-color: #a29bfe;
}

.dark-theme .metal:hover {
  background-color: #847fd1;
}

.dark-theme .metalloid {
  background-color: #ffeaa7;
}

.dark-theme .metalloid:hover {
  background-color: #d4c38b;
}

.dark-theme .artificial {
  background-color: #fab1a0;
}

.dark-theme .artificial:hover {
  background-color: #c98e81;
}

.dark-theme .special {
  background-color: #636e72;
}

.dark-theme .specialLegend {
  color: #f4f4f9 !important;
}

.dark-theme button.theme-toggle {
  background-color: #f4f4f9;
  color: #1c1c1c;
}

.dark-theme .legend {
  color: #f4f4f9 !important;
}

.dark-theme .periodic-table td[colspan="2"],
.dark-theme .periodic-table td[colspan="3"],
.dark-theme .periodic-table td[colspan="4"],
.dark-theme .periodic-table td[colspan="5"],
.dark-theme .periodic-table td[colspan="8"],
.dark-theme .periodic-table td[colspan="18"] {
  border: none; /* Rimuove il bordo per i td della legenda */
}

/* Stili per gli elementi */

h1,
h2,
h3,
p,
li {
  text-align: center;
}

.main-img {
  text-align: center;
}

.return {
  font-family: "FiraSansCondensedSemiBold", Arial;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #f4f4f9;
  background-color: #1c1c1c;
  border-radius: 5px;
}

.dark-theme .return {
  color: #1c1c1c;
  background-color: #f4f4f9;
}

.dark-theme .legend.artificial,
.dark-theme .legend.non-metal,
.dark-theme .legend.metal,
.dark-theme .legend.noble-gas,
.dark-theme .legend.metalloid {
  background-color: #1c1c1c !important;
}
